[submodule "oh-my-zsh/plugins/zsh-history-substring-search"]
  path = oh-my-zsh/plugins/zsh-history-substring-search
  url = https://github.com/zsh-users/zsh-history-substring-search
[submodule "oh-my-zsh/plugins/zsh-syntaz-highlighting"]
  path = oh-my-zsh/plugins/zsh-syntaz-highlighting
  url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "vim/bundle/vim-pathogen"]
	path = vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vim/bundle/vim-rails"]
	path = vim/bundle/vim-rails
	url = https://github.com/tpope/vim-rails
[submodule "vim/bundle/vim-cucumber"]
	path = vim/bundle/vim-cucumber
	url = https://github.com/tpope/vim-cucumber
[submodule "vim/bundle/vim-coffee-script"]
	path = vim/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script
[submodule "vim/bundle/vim-haml"]
	path = vim/bundle/vim-haml
	url = https://github.com/tpope/vim-haml.git
[submodule "vim/bundle/vim-endwise"]
	path = vim/bundle/vim-endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule "vim/bundle/greplace.vim"]
	path = vim/bundle/greplace.vim
	url = https://github.com/vim-scripts/greplace.vim.git
[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/bundle/tComment.git"]
	path = vim/bundle/tComment.git
	url = https://github.com/vim-scripts/tComment.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/snipmate.vim"]
	path = vim/bundle/snipmate.vim
	url = https://github.com/msanders/snipmate.vim.git
[submodule "vim/bundle/vim-colors-solarized"]
	path = vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule "vim/bundle/mango.vim"]
	path = vim/bundle/mango.vim
	url = https://github.com/goatslacker/mango.vim.git
[submodule "vim/bundle/vim-jasmine"]
	path = vim/bundle/vim-jasmine
	url = https://github.com/thomd/vim-jasmine.git
[submodule "vim/bundle/ctrlp.vim"]
	path = vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim/bundle/vim-powerline"]
	path = vim/bundle/vim-powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule "vim/bundle/taglist"]
	path = vim/bundle/taglist
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule "vim/bundle/zencoding-vim"]
	path = vim/bundle/zencoding-vim
	url = https://github.com/mattn/zencoding-vim.git
[submodule "vim/bundle/vim-tomorrow-theme"]
	path = vim/bundle/vim-tomorrow-theme
	url = https://github.com/chriskempson/vim-tomorrow-theme.git
[submodule "vim/bundle/tabular"]
	path = vim/bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "vim/bundle/gitv"]
	path = vim/bundle/gitv
	url = https://github.com/gregsexton/gitv.git
[submodule "vim/bundle/vimux"]
	path = vim/bundle/vimux
	url = https://github.com/benmills/vimux.git
[submodule "vim/bundle/vimux-cucumber"]
	path = vim/bundle/vimux-cucumber
	url = https://github.com/cloud8421/vimux-cucumber
[submodule "vim/bundle/vimux-ruby-test"]
	path = vim/bundle/vimux-ruby-test
	url = https://github.com/pgr0ss/vimux-ruby-test
[submodule "vim/bundle/tagbar"]
	path = vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "vim/bundle/vim-turbux"]
	path = vim/bundle/vim-turbux
	url = git@github.com:cloud8421/vim-turbux.git
[submodule "vim/bundle/vim-matchit"]
	path = vim/bundle/vim-matchit
	url = https://github.com/edsono/vim-matchit.git
[submodule "vim/bundle/vim-slim"]
	path = vim/bundle/vim-slim
	url = https://github.com/bbommarito/vim-slim.git
[submodule "vim/bundle/autocorrect.vim"]
	path = vim/bundle/autocorrect.vim
	url = https://github.com/vim-scripts/autocorrect.vim
[submodule "vim/bundle/vylight"]
	path = vim/bundle/vylight
	url = https://github.com/vim-scripts/vylight.git
[submodule "vim/bundle/vydark"]
	path = vim/bundle/vydark
	url = https://github.com/vim-scripts/vydark.git
[submodule "vim/bundle/vim-unimpaired"]
	path = vim/bundle/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired
[submodule "vim/bundle/vim-vspec"]
	path = vim/bundle/vim-vspec
	url = https://github.com/kana/vim-vspec.git
[submodule "vim/bundle/badwolf"]
	path = vim/bundle/badwolf
	url = https://github.com/sjl/badwolf.git
[submodule "vim/bundle/jellybeans.vim"]
	path = vim/bundle/jellybeans.vim
	url = https://github.com/nanotech/jellybeans.vim.git
[submodule "vim/bundle/mustache.vim"]
	path = vim/bundle/mustache.vim
	url = https://github.com/juvenn/mustache.vim
[submodule "vim/bundle/autolink.vim"]
	path = vim/bundle/autolink.vim
	url = https://github.com/sampsyo/autolink.vim
[submodule "vim/bundle/moria"]
	path = vim/bundle/moria
	url = https://github.com/vim-scripts/moria.git
[submodule "vim/bundle/mustang.vim"]
	path = vim/bundle/mustang.vim
	url = https://github.com/croaker/mustang-vim.git
[submodule "vim/bundle/vitality.vim"]
	path = vim/bundle/vitality.vim
	url = https://github.com/sjl/vitality.vim
[submodule "vim/bundle/vim-puppet"]
	path = vim/bundle/vim-puppet
	url = git://github.com/rodjek/vim-puppet.git
[submodule "vim/bundle/vim-markdown"]
	path = vim/bundle/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "vim/bundle/delimitMate"]
	path = vim/bundle/delimitMate
	url = git://github.com/Raimondi/delimitMate.git
